/* General Settings */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */

#navbar{
    display: flex;
    position: sticky;
    top: 0;
    background: rgb(81, 243, 130);
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

.list{
    display: flex;
    align-items: center;
    list-style: none;
}

.list li a{
    color: black;
    text-decoration: none;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

.list li a:hover{
    background: black;
    border-radius: 5px;
    color: white;
}

/* Utility classes */

.btn{
    padding: 5px;
    background-color: rgb(81, 243, 130);
    color: black;
    text-decoration: none;
    border-radius: 3px;
}

.btn:hover{
    background-color: black;
    color: white;
}

.splash-start{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    display: inline-block;
}
.nav-logo {
    max-height: 50px;
    max-width: 50px;
}

.l-heading {
    margin-top: auto;
    margin-bottom: auto;
}

/* About Page */

.about-container{
    margin: auto;
    overflow: auto;
    display: flex;
    height: 600px;
    background: url('../img/elephants_about.jpg') no-repeat center center/cover;
    padding-top:50px;
}

.about-top-left{
    float: left;
    width: 50%;
    min-height: 100%;
}

.about-top-right{
    float: right;
    width: 50%;
    min-height: 100%;
    padding-top: 20px;
}

.about-top-right img{
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 50%;
}

.about-text{
    margin: 10px 50px;
    line-height: 1.5em;
    color: #000;
    font-size: 18px;
    text-shadow:
        0.05em 0 #fff,
        0 0.05em #fff,
        -0.05em 0 #fff,
        0 -0.05em #fff;
}




/* Facts Page */
.facts-top-img {
    background: url(../img/elephant_img1.jpg) no-repeat center center/cover;
    height: 375px;
    width: 100%;
    position: relative;
}

.facts-top-img span {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: .25rem;
    padding-bottom: .25rem;
    color:#000;
}

.facts-content {
    display: flex;
}

.facts-content div {
    flex: 1;
}

.facts-content h1 {
    text-align: center;
    padding-top: 1.25rem;
}

.facts-content p {
    line-height: 1.5rem;
    padding-left: 5px;
    padding-right: 10px;
}

.facts-content div {
    padding-bottom: .25rem;
}

.facts-side-img {
    background: url(../img/elephant_img2.jpg) no-repeat center center/cover;
}

.facts-footer { 
    text-align: center;
    background: rgb(81, 243, 130);
    color: #333;
    padding: 1.5rem 0;
}

.facts-footer div {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}
/* Utility classes */

.btn{
    padding: 5px;
    background-color: rgb(81, 243, 130);
    color: black;
    text-decoration: none;
    border-radius: 3px;
}

.btn:hover{
    background-color: black;
    color: white;
}

/* Showcase */
#showcase{
    background: #333333 url('../img/elephant-showcase.jpg') no-repeat center center/cover;
    height: 100vh;
}

#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    /* Overlay! */
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: #33333386;
}

.l-heading{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
